.aboutContainer{
    height: 600px;
    width: 100%;
    display: flex;
}
.aboutBox1{
    height: 600px;
    width: 50%;
}
.aboutBox2{
    height: 600px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutBox2 img{
    height: 500px;
    width: 90%;
}
.aboutBox12{
    width: 80%;
    margin-top: 130px;
    margin-left: 65px;
}
.span1{
    width:120px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:rgb(31, 27, 27);
    border-radius:4px;
    cursor:pointer;
    color: white;
    padding: 2px;
}
.span1:hover{
    background-color: rgb(210, 199, 199);
}
@media screen and (max-width:600px){

    .aboutContainer{
        height: 600px;
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: 
        linear-gradient(
            rgba(254, 254, 254, 0.5), 
            rgba(255, 255, 255, 0.5)
        ),
        url('/about.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
     
    }

    .aboutBox2{
        display: none;
    }

    .aboutBox1{
        width: 2411px;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutBox12{
        margin-left: -2px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .aboutBox12 p{
       text-align: center;
       color: rgb(15, 6, 6);
       font-weight:300;
    }
    
}

.span22{
    margin-top: 5px;
}