.team{
    width:100%;
    height: 300px ;
    margin-top: 70px;
}

.teamHeader{
    width:85%;
    height: 100px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamImage{
    width:100%;
    height: 170px ;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.teamHeader h1{
color: #333;
font-size: 40px;
font-weight: 300;
}

.teamImage1{
    height: 170px ;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamImage1 img{
    height: 130px ;
    width: 65%;
}

@media screen and (max-width:600px) {
    .team{
        width: 370px;
    }
    .teamImage{
        margin-top: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 370px;
        height: 800px;
    }
    .teamImage1{
        width: 100%;
        margin-top: 10px;
        height: 200px;
       }
       .teamImage1 img{
        height: 150px;
       }
       .teamHeader p{
        display: none;
       }
    
}